<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');
        .nav-link {
            color: white;
        }
        section{
            width: 700px;
            margin-left: 162px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;

        }
        section p{
            font-size: 18px;
        }
        section h2, h3{
            font-size: 36px;
            font-weight: 700;
        }
        section h3{
            font-style: italic;
        }


        .nav-link:hover {
            color: cyan;
        }

    </style>

</head>

<body>

    <div class="container-fluid">
              <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <!-- Заголовок меню -->
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Профессия<br>Web-разработчик</span>
                    </a>
                    <!-- элементы меню -->
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
<!--                        <li class="nav-item">-->
<!--                            <a href="/geography" class="nav-link align-middle px-0">-->
<!--                                <i class="fs-4 bi-house"></i>-->
<!--                                <span class="ms-1 d-none d-sm-inline">Главная</span>-->
<!--                            </a>-->
<!--                        </li>-->

<!--                        <li>-->
<!--                            <a href="/geography" data-bs-toggle="collapse" class="nav-link px-0 align-middle">-->
<!--                                <i class="fs-4 bi-speedometer2"></i> <span-->
<!--                                    class="ms-1 d-none d-sm-inline">Востребованность</span> </a>-->

<!--                        </li>-->
                        <li>
                            <a href="/home" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Главная</span>
                            </a>
                        </li>
                                <li>
                            <a href="/demand" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Востребованность</span>
                            </a>
                        </li>
                        <li>
                            <a href="/geography" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">География</span>
                            </a>
                        </li>
                        <li>
                            <a href="/skills" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Навыки</span>
                            </a>
                        </li>

<!--                        <li>-->
<!--                            <a href="/skills" data-bs-toggle="collapse" class="nav-link px-0 align-middle">-->
<!--                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Навыки</span>-->
<!--                            </a>-->

<!--                        </li>-->

                        <li>
                            <a href="/latest-vacancies" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Последние вакансии</span>
                            </a>
                        </li>

                    </ul>
                    <hr>
                    <!-- нижнее дополнительное меню -->

                </div>
            </div>
            <!-- содержимое -->
            <div class="col py-3">
                <section>{% block content %}fbhghn{% endblock %}</section>

            </div>
        </div>
    </div>
<footer class="main-footer">
  Балаба Софья Николаевна РИ-210940
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
