{% extends 'main/base.html'%}
{% block title %}География{% endblock %}

{% block content %}
{{ data.html_file|safe }}
<!--<h1 class="gray-highlight">География професии:</h1> &lt;!&ndash;изменить&ndash;&gt;-->
<!--<h3 style="font-weight: 400; margin: 10px 0;">Аналитика по зарплатам и городам<br> для профессии {{ name_vacancy }}</h3>-->
<img src="{{ data.file.url }}">
{{ data.html_excel|safe }}
<!--<h3 style="font-weight: 400; margin: 10px 0;">Статистика по городам</h3>-->
 <table style="border-collapse: collapse;
            width: 100%;">
        <thead>
        <tr>
            {% for head in heads %}
                {% if head != "None" %}
                    <th>{{ head }}</th>
                {% else %}
                    <th></th>
                {% endif %}
            {% endfor %}
        </tr>
      <thead>
     <tbody>
        {% for row in excel_data %}
        <tr>
             {% for cell in row %}
                {% if cell != "None" %}
                    <td>{{ cell }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}
