{% extends 'main/base.html'%}
{% block title %}Главная{% endblock %}

{% block content %}


        <h2>Главная</h2>


            <img src="../../static/img/dev.jpeg" width="636" height="424" alt="веб-разработчик в родной среде">

          <div class="post-content">
            <h3>Кто такой Web-разработчик?</h3>
            <p class="parag">Web-разработчик-это программист или кодер, который специализируется или специально занимается разработкой приложений World Wide Web с использованием клиент-серверной модели. Приложения обычно используют HTML, CSS и JavaScript в клиенте, PHP, ASP.NET (C#), Python, Node.js, Go или Java на сервере и http для связи между клиентом и сервером.</p>
            <h3>Какими бывают Web-разработчики?</h3>
            <p class="parag">Веб-разработка неоднородна: она включает в себя как веб-дизайн и вёрстку страниц, так и работу с клиентской и серверной частью, конфигурацию серверов. Из-за этого профессиональную область условно разделили на специализации, в зависимости от того, за что в проекте отвечает специалист: за внешний вид сайта или его серверную часть ↓</p>
            <h3>Фронтенд-разработчик</h3>
            <p class="parag">Это программист, который создаёт видимую часть интернет-ресурса.
              Его задача — перевести готовый дизайн-макет в код и сделать так, чтобы всё на сайте работало правильно и подстраивалось под устройство пользователя.
            Фронтендер отвечает за то, чтобы интерфейс однозначно реагировал на нажатия и жесты, а обмен данными с сервером и онлайн-операции проходили корректно и без задержек.</p>
            <h3>Бэкенд-разработчик</h3>
            <p class="parag">Этот специалист отвечает за серверную часть.
              Бэкенд-разработчик выполняет работу, не видимую пользователям, зато когда ошибается, недочёт сразу бросается в глаза.
              Если человек вводит корректный пароль, но всё равно не может попасть в личный кабинет — скорее всего, ошибка на серверной стороне сайта.</p>
            <h3>Фулстек-разработчик</h3>
            <p class="parag">Это универсальный специалист. Он может без привлечения сторонних разработчиков реализовать собственный небольшой веб-проект или заниматься техподдержкой готового сайта или приложения.</p>
            <h4>Специалисту в сфере веб-разработки желательно уметь:</h4>
            <ul>
              <li>унифицировать (привести к единой форме) все вычислительные процессы;</li>

                  <li>создавать базу данных;</li>
                  <li>следить за слаженной работой программного обеспечения (далее ПО);</li>
                  <li>обеспечивать должную скорость работы ПО;</li>
                  <li>создавать интерфейс ПО;</li>
                  <li>создавать веб-сайты;</li>
                  <li>оптимизировать веб-сайт под мобильные условия;</li>
                  <li>заниматься отладкой и тестированием сайта;</li>
                  <li>контролировать работу веб-ресурса;</li>
                  <li>вовремя исправлять ошибки, возникающие у пользователей;</li>
                  <li>тестировать сайт на надежность и функциональность;</li>
                  <li>поддерживать ресурс в рабочем состоянии, обновлять ПО, устанавливать новые элементы на сайт;</li>

            </ul>
          </div>


{% endblock %}