{% extends 'main/base.html'%}

{% block title %}Последние вакансии{% endblock %}

{% block content %}
<h3 style="background-color: white; width: max-content;">Специалисты востребованы на рынке</h3>
<h3 style="background-color: white; width: max-content;" >Последние выкансии</h3>
{% for el in data %}
<div class="vacancy_container">
    <h3 style="text-decoration: underline 5px; text-decoration-color: #E2F700; font-size: 40px;">{{ el.name }} </h3>
  <p  class="highlight">Оклад: {{ el.salary }} руб.</p>
    <p class="text">{{ el.company }}, г. {{ el.area_name }}</p>
<!--    {{ el.discription }}-->
    <p class="text">Ключевые навыки:<br>
        {{el.skills}}</p>
    <p class="text">Описание:</p>
    {{ el.discription|safe }}
    <p class="text" style="font-size: 14px; color: #6c6666;
">Дата публикапции: 2022-12-26</p>
</div>
{% endfor %}
{% endblock %}