{% extends 'main/base.html'%}

{% block title %}Навыки{% endblock %}

{% block content %}
<style>
        body p{

            text-align: center;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            border: 1px solid black;
            padding: 5px;
        }
        body h1, h2{
            font-family: 'Roboto', sans-serif;
            font-size: 30px;
            font-weight: 700;
        }
        body h2{
            font-style: italic;
            font-size: 28px;
        }

    </style>
<h1 style="text-align: center;">Аналитика по навыкам<br> для профессии {{ name_vacancy }}</h1>
<img style="width:70%; display: block; margin: 0 auto;" src="../../static/img/graph3.png">
<h2>Топ-10 высокочастотных навыков, которыми должен обладать каждый {{ name_vacancy }}</h2>
<table style="border-collapse: collapse; width: 100%;">
        {% for row in excel_data %}
        <tr>
             {% for cell in row %}
            {% if cell == "None"%}
                <td style="border: 1px solid black; padding: 5px;"></td>
            {% else %}
                <td style="border: 1px solid black; padding: 5px;">{{ cell }}</td>
            {% endif%}
                {% endfor %}
        </tr>
        {% endfor %}

    </table>
{% endblock %}
