{% extends 'main/base.html'%}

{% block title %}Навыки{% endblock %}

{% block content %}
<h1 class="gray-highlight">Необходимые навыки</h1> <!--изменить-->
<h3 style="font-weight: 400; margin: 10px 0;">Аналитика по навыкам для профессии {{ name_vacancy }}</h3>
<img style="width:70%; display: block; " src="../../static/img/graph3.png">
<h3 style="font-weight: 400; margin: 10px 0;">Топ-10 высокочастотных навыков, которыми должен обладать каждый {{ name_vacancy }}</h3>
<table style="border-collapse: collapse;
            width: 100%;">
        <thead>
            <tr>
                {% for head in heads %}
                    {% if head != "None" %}
                        <th>{{ head }}</th>
                    {% else %}
                        <th></th>
                    {% endif %}
                {% endfor %}
            </tr>
      <thead>
     <tbody>
        {% for row in excel_data %}
        <tr>
             {% for cell in row %}
                {% if cell != "None" %}
                    <td>{{ cell }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
